<ion-header>  
  <app-header  [button]="'back'">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <h3>Términos y Condiciones – Deliver</h3>
  <p>1. GENERAL
    Los presentes Términos y Condiciones de servicio regulan la relación contractual entre
    los usuarios (en adelante “Usuarios”), con Deliver. Cualquier Usuario que desee acceder
    y/o usar el Portal o los Servicios podrá hacerlo sujetándose a estos Términos y
    Condiciones, junto con los principios que rigen en Deliver y que son incorporados al
    presente por referencia o están disponibles en www.deliver-arg.com
    Con su registro y utilización del Portal, los Usuarios están manifestando su aceptación,
    expresa e inequívoca de los Términos y Condiciones. Respecto de menores de edad que
    quieran hacer uso del Portal, Deliver se permite informar que deben contar con
    autorización de sus padres o representantes legales previa realización del registro. Deliver
    se reserva el derecho a negarse a prestar el servicio, cerrar cuentas o eliminar o editar
    contenido a su entera discreción.
    CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES
    GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y
    VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO, LA
    APLICACIÓN Y LOS SERVICIOS.
    Si los Usuarios tienen dudas respecto a estos Términos y Condiciones pueden
    comunicarse al 3571-666966.</p>
  <p>
    2. DEFINICIONES
    "Aplicación", hace referencia a la aplicación “Deliver” disponible para las tecnologías
    móviles.
    "Bienes", son los bienes, productos o servicios que pueden llegar a ser ofrecidos por los
    Oferentes a través del Portal e integran el Pedido del Usuario. Los Bienes son
    suministrados por los Oferentes, siendo responsables de los mismos ante los Usuarios.
    "Oferente", se refiere a agentes externos y/o terceros ajenos a Deliver, que previamente
    han contratado con Deliver sus servicios de intermediación, aportando toda la
    información de los Bienes que se exhiben a través del Portal (precio, características, y en 
    general todas sus condiciones objetivas). Estos, en su calidad exclusiva de productor,
    proveedor y/o expendedor, son los directamente encargados de cumplir con todas las
    características objetivas del producto y/o servicio publicado en el Portal.
    "Pedido", hace referencia a la solicitud del Usuario a través del Portal de los Bienes de
    Oferentes.
    "Servicio ", hace referencia al servicio de intermediación solicitado por el Usuario a
    través del Portal.
    “Repartidor”, es el encargado de llevarle el producto a la dirección especificada por el
    Usuario.
    "Sitio Web", hace referencia al sitio web www.deliver-arg.com
    "Usuario" y "Cliente" hace referencia a todas las personas físicas o jurídicas que
    accedan a nuestro Portal y realizan pedidos sea a través del Sitio Web o de la Aplicación.
    “Portal”, hace referencia a nuestro Sitio Web y/o Aplicación a través de las cuales, en
    calidad de intermediarios, facilitamos el contacto entre Oferentes, Usuarios y
    repartidores.
  </p>
  <p>
    3. CAPACIDAD
    Los Servicios y Productos solo están disponibles para Usuarios que tengan capacidad
    legal para contratar. No podrán utilizar los Servicios las personas que no tengan esa
    capacidad, los menores de edad sin autorización de su padre o tutor o Usuarios de Deliver
    que hayan sido suspendidos temporalmente o inhabilitados definitivamente.
    Para registrar una empresa como Usuario, se deberá contar con la capacidad suficiente
    como para contratar a nombre y representación de la entidad como así también de obligar
    a la misma según estos Términos y Condiciones aquí previstos.
    En caso de desear adquirir bebidas alcohólicas y/o tabaco, en pleno cumplimiento de las
    normas aplicables, el Usuario deberá acreditar ser mayor de 18 años, exhibiendo una
    identificación al momento de la entrega.
  </p>
  <p>
    4. USO AUTORIZADO DEL PORTAL
    El Portal tiene como fin principal la intermediación entre Usuarios y Oferentes para
    realizar Pedidos en la ciudad de Almafuerte, facilitando las relaciones y transacciones
    entre Usuarios y Oferentes adheridos al Portal. Asimismo, mediante el Portal los 
    Usuarios podrán contratar Servicios, realizando Pedidos, según los términos y
    condiciones aplicables, publicados en el Portal. Deliver contacta al Oferente, redirecciona
    el pedido, se encarga de informar respecto de su disponibilidad o no al Usuario de
    conformidad con la información que le haya proporcionado el Oferente.
    A través del Portal se centralizan y otorgan a los Usuarios, todas las herramientas
    necesarias para que éste realice un Pedido.
    Deliver siempre hará su mejor esfuerzo para que una vez que el pedido haya sido
    confirmado por parte del Comercio al cual ha sido solicitado, el Comercio entregue el
    pedido de acuerdo a las especificaciones contratadas.
  </p>
  <p>
    5. CREACIÓN DE CUENTA
    Para el uso del Portal, los Usuarios deberán crear una cuenta de usuario (“Cuenta”) donde
    se le solicitarán ciertos datos tales como: nombre, fecha de nacimiento, dirección,
    teléfono, correo electrónico, documento de identidad, foto (los “Datos”). Los Usuarios
    garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia,
    autenticidad y actualización de sus Datos. En ningún caso Deliver se responsabiliza por la
    certeza de los Datos de los Usuarios.
    Los Usuarios que posean cuenta en Google, podrán crear su Cuenta con la utilización de
    las credenciales allí incluidas.
    Deliver podrá requerir alguna información o documentación adicional a los efectos de
    comprobar o corroborar los Datos, pudiendo suspender temporal o definitivamente a
    aquellos Usuarios cuyos Datos no hayan podido ser confirmados.
    Para acceder a su Cuenta personal, el Usuario deberá ingresar su correo electrónico y una
    contraseña la cual deberá mantener siempre de manera confidencial. Si el Usuario olvida
    su contraseña, podrá restablecerla haciendo clic en “Olvidé mi contraseña”.
    La Cuenta es única e intransferible. Queda prohibido que un Usuario registre o tenga más
    de una Cuenta. De detectarse el incumplimiento a lo antes previsto, Deliver se reserva el
    derecho de cancelar, suspender o inhabilitar las cuentas, sin perjuicio de otras medidas
    legales que pueda tomar.
    Deliver no puede garantizar la identidad de los Usuarios. El Usuario es responsable de
    todas las transacciones realizadas en su Cuenta, debiendo notificar a Deliver
    inmediatamente, de forma fehaciente, cualquier uso no autorizado de la misma, así como
    cualquier sustracción, divulgación o pérdida de sus datos de acceso al Portal. Sin
    embargo, no será responsable del uso fraudulento que puedan hacer terceros de la Cuenta
    del Usuario. Deliver se reserva el derecho de rechazar cualquier solicitud de registro o de
    cancelar una registración previamente aceptada, sin que esté obligada a comunicar o 
    exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o
    resarcimiento.
  </p>
  <p>
    6. PROCEDIMIENTO DE PEDIDOS Y ACLARACIONES GENERALES
    Deliver ofrece una plataforma de intermediación en línea (el Portal) para que los
    Oferentes puedan ofrecer sus Bienes, y los Usuarios puedan adquirirlos y solicitar su
    entrega a domicilio. En ese marco, Deliver exhibe la información de los Bienes del
    Oferente según la información provista por este último, no responsabilizándose por la
    exactitud y/o veracidad de la misma.
    El Usuario podrá solicitar a un Repartidor el envío de un producto ofrecido por cualquier
    otro comercio diferente a los Comercios Adheridos, siempre y cuando dicho producto
    respete los presentes términos y condiciones. En este supuesto, Deliver abonará, por
    cuenta y orden del Usuario el precio del producto y llevara recibo o factura para control
    final.
    El Usuario comprende y acepta que Deliver no produce, provee, vende, expende ni es
    agente, distribuidor, ni en general ningún tipo de comercializador de los Bienes
    exhibidos; por lo anterior, la relación de compraventa es estructurada entre el Usuario y el
    Oferente. Asimismo, el Usuario reconoce que es el único responsable por la correcta
    consignación de las direcciones de entrega y recogida de los Pedidos, eximiendo de
    responsabilidad a Deliver y a los repartidores por cualquier error o negligencia.
    El Usuario podrá ver las diferentes opciones disponibles sin estar registrado. Sin
    embargo, para poder finalizar el Pedido, el Usuario debe estar registrado con su Cuenta y
    debe ingresar el domicilio de entrega. Una vez realizado lo anterior, el Usuario podrá ver
    las diferentes opciones de Oferentes, Bienes, ubicación de los Oferentes, etc.
    Cuando el Usuario ha definido a dónde y qué quiere pedir, debe ingresar al perfil del
    Oferente en el Portal y elegir el/los Bienes que desea adquirir. Una vez seleccionados, se
    pone a disposición del Usuario las características, condiciones y valor total del Pedido,
    según la información provista por el Oferente.
    Una vez emitida la Reserva, el Usuario podrá cancelarla (en adelante, “Cancelación”) sin
    penalidad alguna siempre que realice la Cancelación del Servicio de Cadetería a través de
    la Aplicación, dentro de los [3 minutos] posteriores a la aceptación del servicio.
    De no efectuarse la Cancelación en el tiempo estipulado en el punto precedente, el
    Usuario estará obligado a abonar el 100% del monto correspondiente al pago del Servicio
    de Cadetería, sin perjuicio de que luego el Comercio Adherido y/o el comercio
    correspondiente estén obligado a restituir el precio abonado por el Usuario por el
    producto.
    El Usuario en ningún caso podrá alegar falta de conocimiento de las limitaciones,
    restricciones y penalidades, dado que las mismas son informadas en los Términos y
    Condiciones.
    Si el Usuario no recibe el Pedido en el domicilio indicado para ello y/o si surge algún
    contratiempo en donde no se verifiquen los datos del Usuario y se rechace el pedido una
    vez fue confirmado por el Portal y en ese sentido no se reciban correcciones una vez
    efectuada la confirmación, toda la responsabilidad recaerá sobre el Usuario y éste deberá
    indemnizar al Portal haciéndose cargo de todos los costos que generó el error en la
    transacción, a modo de ejemplo, el costo de envío que pudiera aplicar.
    Cuando el Oferente acepta o rechaza el Pedido, se comunica al Usuario con una
    notificación PUSH u otro medio de comunicación, en donde se rechaza o confirma la
    recepción del Pedido, el cual se produce de forma automática con los detalles.
    En caso de rechazarse el Pedido por parte del Oferente, Deliver notificará al Usuario sin
    la obligación de notificar los motivos del rechazo.
    En caso de confirmarse el pedido, la PUSH u otro medio de comunicación, indicará el
    tiempo de entrega del Pedido. Dicho tiempo de entrega es exclusivamente estimado, y el
    Usuario reconoce que el mismo podrá sufrir pequeños ajustes mientras el Pedido se
    prepara (dichos ajustes se verán reflejados en el estado del pedido que se visualiza en el
    Portal). El Usuario, al hacer su Pedido, afirma conocer y aceptar que innumerables
    factores como el tráfico, el clima, los horarios pico y la capacidad de preparación del
    pedido y entrega de algunos Oferentes, pueden ser limitantes para asegurar la hora de
    entrega.
    Deliver siempre actuará como intermediario y centrará sus esfuerzos en resolver todas las
    quejas o situaciones problemáticas que se configuren con ocasión a demoras, pedidos
    incompletos o equivocados, etc. En todos los casos, sin excepción, las quejas deben ser
    presentadas en un lenguaje decente y respetuoso. En caso contrario, el Portal no estará
    obligado a proporcionar respuesta alguna, y por el contrario, de acuerdo con su propio
    criterio, podrá proceder a bloquear al Usuario de su base de datos, quedando dicho
    Usuario imposibilitado para utilizar los Servicios nuevamente.
    La entrega del Pedido solo se realizada con repartidores a disposición de Deliver, según
    se indica en el Portal. El Usuario comprende y acepta que Deliver no se hará responsable
    ante el Usuario por la falta de entrega del Pedido o en caso que se viera alterado o
    perjudicado – en caso que el Oferente se encargue del servicio de envío.
  </p>
 <p>
  7. PRECIO DE LOS BIENES
  El precio de los Bienes será presentado en el Portal, según la información provista por el
  Oferente, antes de que la transacción sea aceptada por el Usuario. Dicho precio incluirá
  todos los posibles recargos por impuestos, adiciones, etc., que sean aplicables a cada
  transacción. Se aclara que algunos Oferentes pueden tener importe mínimo de pedido y
  que también pueden aplicar costos de envío, lo que se indicará en los perfiles de los
  Oferentes.
  El Usuario comprende y acepta que, en caso de solicitar modificaciones a los Bienes
  integrantes del Pedido, el precio podrá tener modificaciones.
  Es responsabilidad del Usuario asegurarse en el momento de la entrega del Pedido, que
  éste corresponde con los Bienes solicitados y que todo lo recibido sea correcto. En caso
  contrario, el Usuario puede rechazar el Pedido devolviéndoselo al repartidor.
 </p>
  <p>
    8. MEDIOS DE PAGO
    i) Pago en efectivo: El Usuario podrá abonar el Pedido al repartidor en efectivo en
    moneda de curso legal en el país. Asimismo, el Usuario podrá indicar el monto
    exacto con el que abonará el Pedido.
    ii) Transferencia Bancaria
    El Usuario podrá abonar el precio del Pedido mediante transferencia bancaria antes
    que el producto llegue al domicilio fijado.
    iii)Mercado Pago
    Por transferencia a la cuenta de Deliver. Los intereses están a cargo en todo
    momento por parte del Usuario. El interés será el mismo que se fije en la página de
    Mercado Pago el mismo día de la compra.
    En los supuestos en que el Servicio de Cadetería se realice por productos ofrecidos
    por comercios diferentes a los Comercios Adheridos, el Usuario adelantará el dinero
    correspondiente al precio del producto, solo si los productos son de precio superior a
    $800. El repartidor abonará el producto por cuenta y orden del Usuario.
  </p>
 <p>
  9. RESPONSABILIDAD
  Deliver únicamente pone a disposición de los Usuarios un espacio virtual de
  intermediación que les permite ponerse en comunicación mediante internet a los
  Usuarios, los Oferentes y los repartidores y así comprar y vender, respectivamente, los
  Bienes. Deliver no es proveedora ni propietaria de los Bienes, no tiene posesión de ellos
  ni los ofrece en venta. El Oferente es el único responsable de la existencia, calidad, 
  cantidad, estado, integridad, inocuidad o legitimidad de los Bienes. El Usuario conoce y
  acepta que al realizar Pedidos a los Oferentes lo hace bajo su propio riesgo.
  En el caso en que los Bienes ofrezcan garantías (por ej. productos electrónicos exhibidos
  en el Portal), será el Oferente el obligado a ofrecer estas garantías y en ningún caso,
  Deliver.
  El Usuario conoce y acepta que al realizar operaciones con el Repartidor lo hace bajo su
  propio riesgo. En ningún caso Deliver será responsable por lucro cesante, o por cualquier
  otro daño y/o perjuicio que haya podido sufrir el Repartidor, debido al Servicio prestado a
  través de la Aplicación.
  Deliver recomienda actuar con prudencia y sentido común al momento de contratar el
  Servicio. En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de
  reclamo o acciones legales contra un Repartidor, todos y cada uno de los involucrados en
  dichos reclamos o acciones eximen de toda responsabilidad a Deliver, a sus dueños y
  empleados.
 </p>
 <p>
  10. REGLAS DE SEGURIDAD
  A los Usuarios les está prohibido violar o intentar violar la seguridad del Portal.
  Específicamente los Usuarios, a modo de ejemplo y sin que implique limitación, no
  podrán (i) acceder a información que no esté dirigida o autorizada a dicho Usuario o
  acceder a servidores o cuentas a los cuales el Usuario no está autorizado a acceder; (ii)
  intentar probar la vulnerabilidad de un sistema o red sin la debida autorización o violar
  las medidas de seguridad o autenticación; (iii) intentar interferir con los servicios
  prestados a un Usuario, servidor o red, incluyendo pero sin limitarse al envío de virus a
  través del Portal o sobre carga de tráfico para denegación del servicio; (iv) enviar correo
  electrónico no solicitado, incluyendo promociones y/o publicidad de productos o
  servicios. La violación de cualquier sistema o red de seguridad puede resultar en
  responsabilidades civiles y penales. Deliver investigará la ocurrencia de hechos que
  puedan constituir violaciones a lo anterior y cooperará con cualquier autoridad
  competente en la persecución de los Usuarios que estén envueltos en tales violaciones;
  (v) suplantar la identidad de otros usuarios o de personas naturales o jurídicas de
  cualquier índole; (vi) proporcionar información de identidad incorrecta, incompleta o
  falsa; y (vii) bajo ninguna circunstancia se tolerará la acción de hacer pedidos falsos o
  crear usuarios con fines fraudulentos, actuar que será denunciado y estará sujeto a las
  prosecuciones legales aplicables.
  El Portal puede ser usado únicamente para propósitos legales. Se prohíbe su uso en
  cualquiera de las siguientes formas:
   Incluir en el Portal cualquier derecho de franquicia, esquema de pirámide, membresía a
  un club o grupo, representación de ventas, agencia comercial o cualquier oportunidad de
  negocios que requiera un pago anticipado o pagos periódicos, solicitando el reclutamiento
  de otros miembros, sub-distribuidores o sub-agentes.
   Borrar o revisar cualquier material incluido en el Portal por cualquier otra persona o
  entidad, sin la debida autorización.
   Usar cualquier elemento, diseño, software o rutina para interferir o intentar interferir con
  el funcionamiento adecuado del Portal o cualquier actividad que sea llevada a cabo en el
  Portal.
   Intentar descifrar, compilar o desensamblar cualquier software comprendido en el Portal
  o que de cualquier manera haga parte de este.
   Como ya se mencionó, está terminantemente prohibido incluir en el Portal información
  falsa, inexacta, incompleta, incorrecta o engañosa.
 </p>
 <p>
  11. TERMINACIÓN
  Deliver se reserva el derecho, a su exclusiva discreción, de suspender o cancelar la
  registración del Usuario, y por lo tanto, negarle acceso a este Portal, ante el
  incumplimiento de estos Términos y Condiciones por parte de los Usuarios o ante la
  imposibilidad de verificar o autenticar cualquier información que estos hayan presentado
  en el registro para acceder al Portal.
 </p> 
 <p>
  12. INFORMACIÓN ADICIONAL
  Deliver no garantiza que el portal opere libre de errores o que su servidor se encuentre
  libre de virus de computadores u otros mecanismos dañinos. Si el uso del portal o del
  material resulta en la necesidad de solicitar servicio de reparación o mantenimiento a sus
  equipos o información o de reemplazar sus equipos o información, Deliver no es
  responsable por los costos que ello implique.
  El portal y el material se ponen a disposición de los usuarios en el estado en que se
  encuentren. No se otorga garantía alguna sobre la exactitud, confiabilidad u oportunidad
  del material, los servicios, los textos, el software, las gráficas y los enlaces o vínculos.
  En ningún caso, Deliver, sus proveedores o cualquier persona mencionada en el portal,
  será responsable por daños de cualquier naturaleza, resultantes del uso o la imposibilidad
  de usarlos.
 </p> 
<p>
  13. POLÍTICAS Y MODIFICACIÓN
  Nos reservamos el derecho a hacer cambios a nuestro Portal, y a estos Términos y
  Condiciones en cualquier momento. En caso de que alguna de estas condiciones resulte 
  inválida, nula o por cualquier razón inaplicable, tal condición se considerará separable y
  no afectará la validez y aplicabilidad de ninguna de las demás condiciones.
</p>
 <p>
  14. DERECHOS DE AUTOR
  El contenido del Portal, incluyendo, pero sin limitarse a los textos, gráficas, imágenes,
  logotipos, íconos, software y cualquier otro material están protegido bajo las leyes
  aplicables de propiedad industrial y propiedad intelectual. Todo el Material es de
  propiedad de Deliver. Queda prohibido modificar, copiar, reutilizar, extraer, explotar,
  reproducir, comunicar al público, hacer segundas o posteriores publicaciones, cargar o
  descargar archivos, enviar por correo, transmitir, usar, tratar o distribuir de cualquier
  forma la totalidad o parte de los contenidos incluidos en el Portal. El uso no autorizado
  del Material puede constituir una violación de las leyes sobre derechos de autor, leyes de
  propiedad industrial u otras leyes. Ningún Usuario podrá vender o modificar el Material
  de manera alguna, ni ejecutar o anunciar públicamente el Material, ni distribuirlo para
  propósitos comerciales.
 </p>
 <p>
  15. MARCAS COMERCIALES
  Deliver, el logotipo de Deliver, otros gráficos, encabezados de página, íconos de botones,
  guiones y nombres de servicio de Deliver son marcas comerciales de Deliver. Las marcas
  comerciales e imagen comercial Deliver no podrán ser utilizadas en relación con
  cualquier producto o servicio que no sea de Deliver, en su caso, de ninguna manera que
  pueda causar confusión entre los Usuarios o que desestime o desacredite a Deliver.
 </p> 
  
</ion-content>
