<ion-header>
  <app-header [titulo]="'Confirmar Pedido'" [button]="'back'">
  </app-header>
</ion-header>

<ion-content>
  <ion-card > 
    <ion-card-header>
      <!--ion-card-subtitle>Detalle de su pedido</ion-card-subtitle-->
      <ion-card-title>Último Paso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       
        <ion-list-header>
          Productos
        </ion-list-header> 
        <div *ngFor="let orden of pedidoActual.ordenes; let c = index">   
          <ion-list>                   
              <ion-item *ngFor="let producto of orden.productos; let p = index">
                
                <ion-label>
                  <h2><span class="color-text-green">{{producto.cantidad}}X</span> 
                    {{producto.nombre}} :
                    <span *ngIf="producto.promocion">{{producto.promocion | currency}}</span>
                    <span *ngIf="!producto.promocion">{{producto.precio | currency}}</span>
                  </h2>
                  <div *ngFor="let opcion of producto.opcionesSeleccionadas">
                  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-text-green">{{opcion.cantidad}}X</span> {{opcion.nombre}} <span *ngIf="opcion.precioVariacion != 0">{{opcion.precioVariacion | currency}}</span></h3>
                  </div>
                  <h3>{{producto.comentario}}</h3>                  
                  <h3>Subtotal:{{producto.precioTotal | currency}}</h3>
                </ion-label>
                
                <ion-button color="danger" slot="end" (click)="eliminarOrden(c,p)"><ion-icon  name="trash"></ion-icon></ion-button>
       
    
              </ion-item>
              <ion-item>                
                <ion-label>                                 
                  <h3>Más costo de envío</h3>
                </ion-label>
              </ion-item>
            </ion-list>
            
        </div> 
        
    </ion-card-content>
    
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <h3>Total: {{pedidoActual.total | currency}}</h3>
  <ion-toolbar>
    <ion-button class="btn-footer-agregar" color="light" slot="start" (click)="cancelar()">Cancelar</ion-button>
    <ion-button class="btn-footer-agregar" color="success" slot="end" (click)="confirmar()">Confirmar Pedido</ion-button>
  </ion-toolbar>
  
</ion-footer>