<ion-header>
  <app-header [button]="'menu'"></app-header>  
</ion-header>

<ion-content class="ion-padding">

    <p>
      Queremos ser la aplicación en la que confíes tu día a día. Hacemos tus compras, te llevamos lo que necesites y cumplimos todos tus antojos. Encuentra tus productos favoritos desde la comodidad de tu hogar. Puedes pedir desde la aplicación en Android, o desde la web en un celular o computadora.
    </p>
  <h5>- ¿Cómo hago un pedido? </h5>
    <p>
      Regístrate o ingresa si ya tienes los datos cargados.    Elige lo que quieras en la lista de opciones y arma tu pedido a tu gusto.   Confirmas el pedido.     Rellenas los datos con tu dirección a enviar y seleccionas “CONFIRMAR”.  Tu pedido es enviado al local para su preparación. En breve el local te notificará mediante una notificación push si tu pedido fue aceptado o rechazado.  En caso de ser aceptado te notificará el tiempo aproximado de preparación más el de envío a tu domicilio.  El local te informara con una notificación cuando esté listo tu producto y el Deliver ya lo tenga en sus manos.  ¡Solo quedará esperar!
    </p>
  <h5>-¿Cómo agrego instrucciones de preparación?</h5>
    <p>
      Puedes agregar las instrucciones cuando estés armando tu pedido.  Puedes agregar notas en cada producto y también puedes agregarlas en el último paso, antes de finalizar tu compra.</p>
  <h5>-¿Por qué algunos locales no aparecen?</h5>
    <p>
      Algunos locales no aparecen en Almafuerte porque:
    </p>
    <ol>
      <li>No todos los locales hacen parte de Deliver.</li>
      <li>Algunos locales están cerrados temporalmente.</li>
      <li>Algunos locales no están disponibles por un lapso de tiempo debido a la alta demanda en la zona.</li>
    </ol>
  <h5>-¿Puedo hacer pedidos a diferentes locales?</h5>
    <p>
      Si se pueden realizar pedidos en diferentes comercios. El precio total del envío no lo muestra la aplicación, pero se calcula un precio promocional por varios viajes con la misma dirección de destino.
    </p>
  <h5>-¿Puedo hacer un pedido para un amigo?</h5>
    <p>
      Puedes hacer un pedido para un amigo en cualquier local disponible.
      Ingresa sus datos para realizar el pedido.
      Recuerda asegurarte de que estas pidiendo para la ubicación de tu amigo antes de finalizar la compra.
    </p>
  <h5>-Quiero hacer una devolución. ¿Cómo debo hacer? </h5>
    <p>
      Los repartidores hacen la compra en tu nombre para que sigas siendo el comprador y el consumidor final. Cualquier devolución o queja sobre los productos se realizara directamente con el establecimiento.
    </p>
  <h4>Sobre las entregas</h4>
  <h5>-¿A dónde puedo enviar un pedido?</h5>
    <p>
      Puedes hacer un pedido para cualquier ubicación dentro de un radio de 5Kms.
    </p>
  <h5>-¿Puedo ingresar instrucciones para el repartidor?</h5>
    <p>
      Pueden ingresar instrucciones al repartidor en las notas antes de enviar tu pedido.
    </p>
  <h5>-¿Cómo selecciono mi dirección de entrega?</h5>
    <ol>
      <li>Ingresa tu dirección en “Mis Datos” y lo tendrás cargado para tus próximos pedidos.</li>
      <li>Antes de concretar el pedido te aparecerá para editar tu ubicación por si tienes que enviarlo a otra dirección</li>
    </ol>
  <h5>-¿Cómo es calculado el tiempo de entrega?</h5>
    <p>
      El tiempo estimado se calcula en función de la demanda, disponibilidad de nuestros repartidores, el tiempo que suele llevarle al local preparar un pedido promedio y la cantidad de artículos que has pedido, el clima u otros factores. Ten en cuenta que es una estimación y el tiempo real puede variar.
    </p>
  <h4>Sobre los precios</h4>
  <h5>-¿Cómo funciona la tarifa de envío?</h5>
    <p>
      Las tarifas de envíos siempre varían de acuerdo con la distancia que debe recorrer el repartidor, y las condiciones climáticas que existan en el momento.
    </p>
  <h5>-¿Hay un costo por pedir en Deliver?</h5>
    <p>
      Realizar un pedido en Deliver no tiene costo adicional. Solo tienes que pagar el pedido al local seleccionado y el costo de envío.
    </p>
  <h5>-¿Hay un monto mínimo para pedir? </h5>
  <p>
    En algunos casos puede haber un monto mínimo a alcanzar para pedir. Su valor ha sido establecido por el local y puede variar según el local que elijas. Serás informado antes de armar tu pedido, en el perfil del local, así como en el último paso, antes de enviar el pedido.</p>
  <h5>-Vi en el local un precio diferente que en Deliver. </h5>
  <p>
    Los locales tienen la libertad de asignar los precios a sus productos, pudiendo existir una pequeña diferencia entre el consumo dentro del local o delivery si es que el local así lo desea.
  </p>
  <h5>-Precios desactualizados.</h5>
    <p>
      Si haces un pedido de uno de los locales disponibles en la aplicación, podrás ver el precio del producto con anticipación. Por lo tanto, antes de confirmar el pedido sabrás el precio real del producto. En ocasiones, el precio real del producto puede ser distinto de que se muestra en la aplicación. Si la diferencia de precio es menos al  20%  Deliver procederá a la compra de los productos de forma automática. Podrás ver el precio una vez que el repartidor llegue a su domicilio. Llevará consigo el recibo de la compra.
      Sin embargo, si la diferencia de precio supera el  30%, el repartidor se comunicara contigo para preguntarte si deseas continuar con la compra.
    </p>
  <h4></h4>
    <p>
      Deliver es un servicio de mensajería y cadetería con el que puedes enviar paquetes entre una dirección de origen y otra de destino, con una distancia máxima de 5kms entre ambas. El tiempo de entrega es de 25 a 60 minutos aproximadamente.
      Podrás enviar cualquier paquete de un tamaño máximo 45x45x40 cm y con un peso máximo de 8 kg. No podrás enviar productos químicos, armas, joyas o sustancias prohibidas.
    </p>
  <h5>-¿Cómo crear un envío de un producto que no está en la App?</h5>
    <ol>
      <li>Ingresa a la App, o sitio web.</li>
      <li>Selecciona “Envíos”.</li>
      <li>La App te re direccionará al WhatsApp de Deliver.</li>
      <li>Ingresa la dirección de envío, dirección de entrega, contenido del envío y todos los datos  que creas necesarios para realizar el pedido. </li>
      <li>El repartidor se pondrá en contacto para coordinar.</li>
    </ol>
  <h4>-¿Porque debo usar Deliver?</h4>
    <p>
      ¿No tienes tiempo de hacer tus gestiones? ¿Quieres comer tu comida favorita? ¿Estás en una fiesta o en la casa de un amigo y les falta hielo, bebidas? ¿Tienes un antojo? ¿Quieres comer helado? ¡Lo que quieras te lo llevamos! En Deliver entregamos cualquier cosa que necesites en Almafuerte.   Puedes descargar la aplicación para teléfonos Android (en Play Store).  Si todavía no descargaste la aplicación, no te preocupes, también puedes hacer pedidos en ver PAGINA WEB.
    </p>

</ion-content>