<ion-header>  
  <app-header [titulo]="comercio.nombre" [button]="'back'">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <img class="portada-foto" src="{{comercio.portada}}" />

    <p>{{comercio.descripcion}}</p>
   
    <ion-slides [options]="slideOpts" slidesPerView="2">
      <ion-slide (click)="verProductosDestacados()" class="destacado">
        <span>Destacados</span>
      </ion-slide>
      <ion-slide (click)="verProductos('')" >
        <span >Todos</span>
      </ion-slide>     
      <ion-slide *ngFor="let categoria of categorias" (click)="verProductos(categoria)" 
      [class.seleccionado]="categoria.seleccionado == true">
        <span >{{categoria.nombre}}</span>
      </ion-slide>
    </ion-slides>      
  

     
      <ion-list lines="none">       
          <div class="demora" *ngIf="comercio.promedioGeneralDemora">
            Demora estimada:{{comercio.promedioGeneralDemora | number:'1.0-0'}} minutos
          </div>
          <ion-list-header>
              <ion-button color="primary" style="margin-top: -1px; height: 42px;float:right" (click)="presentAlertPrompt()">
                  <ion-icon name="search"></ion-icon>&nbsp; Buscar
              </ion-button>
          </ion-list-header>
        
          <div *ngIf="verDestacados == 'true'">
            <ion-item  class="item-producto" *ngFor="let producto of productosDestacados" (click)="presentModalAgregarPedido(producto)">
              <ion-avatar slot="start">
                <img src="{{producto.foto}}" *ngIf="producto.foto">
                <img src="../../assets/icons/producto.png" *ngIf="!producto.foto">
                <ion-icon class="icon-producto" name="medical-outline" *ngIf="!producto.foto"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2><b>{{producto.nombre}}</b></h2>
                <p>{{producto.precio| currency}}</p>  
                <p>destacado</p>              
              </ion-label> 
            </ion-item>
          </div>
          <div *ngIf="verNoDestacados == 'true'">
            <ion-item  class="item-producto" *ngFor="let producto of productos" (click)="presentModalAgregarPedido(producto)">
              <ion-avatar slot="start">
                <img src="{{producto.foto}}" *ngIf="producto.foto">
                <img src="../../assets/icons/producto.png" *ngIf="!producto.foto">
              </ion-avatar>
              <ion-label>
                <h2><b>{{producto.nombre}}</b></h2>
                <p>{{producto.precio| currency}}</p>              
              </ion-label> 
            </ion-item>  
          </div>              
        </ion-list>  
        <ion-infinite-scroll threshold="100px" (ionInfinite)="verMas()">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando más trabajos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>     
    
  
  
</ion-content>
<ion-footer *ngIf="pedidoActual.on" class="ion-no-border ion-padding">
  <ion-button expand="full" size="large" class="margin0" color="success" (click)="irCarrito()">Confirmar Pedido: {{pedidoActual.total | currency}}</ion-button>
</ion-footer>