.portada-foto{
    width: 100%;
    max-width: 400px;
    max-height: 200px;
    border-radius: 10px;
}

ion-slide{
    width: 106.667px;
    background-color: grey;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    line-height: 30px;
    margin: 1px 3px;
}

.seleccionado{
    background-color: #f25717;
}

ion-avatar{
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

ion-avatar img{
    border-radius: 4px;
}

.destacado{
    background-color: #e7aa16;
    color:white;
}

.icon-producto{
    font-size: 43px;
}

.demora{
    padding: 10px;
    font-size: 12px;
}

.tachado {
    text-decoration: line-through;
}

.naranja {
    color:#FF8400
}