<ion-header>
  <app-header [titulo]="'Mis Pedidos'" [button]="'menu'" ></app-header>  
</ion-header>

<ion-content style="margin-top: 50px;"> 
  
  <ion-card *ngFor="let pedido of pedidos" > 
    <div *ngIf="pedido.recibido == '0'">
      <ion-card-header>
        <ion-card-title>Pedido en Curso</ion-card-title>
        realizado: {{pedido.createdAt | date:'hh:mm aaa dd/MM/yyyy'}}
      </ion-card-header>
      <ion-card-content>     
          <ion-list-header>
            Productos
          </ion-list-header> 
         
          <ion-list>                   
            <ion-item *ngFor="let producto of pedido.productos; let p = index">
              <ion-avatar slot="start">
                <img src="{{producto.icon}}" *ngIf="producto.icon">
                <ion-icon name="star" *ngIf="!producto.icon"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>{{producto.nombre}}</h2>
                <div *ngFor="let opcion of producto.opcionesSeleccionadas">
                  <h3>{{opcion.nombre}} <span *ngIf="opcion.precioVariacion != 0">{{opcion.precioVariacion}}</span></h3>
                </div>
                <h3>{{producto.comentario}}</h3>
                <h3>{{producto.cantidad}} X {{producto.precio * producto.cantidad | currency}}</h3>             
              </ion-label>          
            </ion-item>
          </ion-list>
          <h2>Total: {{pedido.total | currency}} <br> + <b >Costo de envio<span *ngIf="pedido.costoEnvio != 0">: {{pedido.costoEnvio | currency}} </span> </b></h2>   
          <h2 *ngIf="pedido.demora == 0" style="color:rgb(202, 69, 69)">El comercio aún no ha tomado el pedido.</h2>
          <h2 *ngIf="pedido.demora != 0" style="color:rgb(69, 202, 102)">Demora estimada: {{pedido.demora}} minutos</h2>         
      </ion-card-content>
      <ion-item>
        <ion-button class="btn-footer-agregar" color="primary" slot="end" (click)="recibido(pedido)">Recibido!</ion-button>
      </ion-item>
    </div>
  </ion-card>

  <div *ngFor="let comercioPedidos of pedidosATomar">
    
    <div *ngFor="let pedido of comercioPedidos" >
      <ion-card *ngIf="pedido.estado < 3"> 
        
        <ion-card-header>
          <ion-card-title>Pedido</ion-card-title>
          realizado: {{pedido.createdAt | date:'hh:mm aaa dd/MM/yyyy'}}
        </ion-card-header>
        <ion-card-content>     
            <ion-list-header>
              Productos
            </ion-list-header> 
            
            <ion-list>                   
              <ion-item *ngFor="let producto of pedido.productos; let p = index">
                <ion-avatar slot="start">
                  <img src="{{producto.icon}}" *ngIf="producto.icon">
                  <ion-icon name="star" *ngIf="!producto.icon"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>{{producto.nombre}}</h2>
                  <h3>{{producto.comentario}}</h3>
                  <h3>{{producto.cantidad}} X {{producto.precio * producto.cantidad | currency}}</h3>         
                </ion-label>          
              </ion-item>
              <ion-item  *ngIf="pedido.verRol == 'cadete'">
                Para: {{pedido.clienteNombre}}<br>
                Telefono:{{pedido.clienteTelefono}}<br>
                Direccion: {{pedido.clienteDireccion}}<br>
                
              </ion-item>
              <ion-item *ngIf="pedido.verRol == 'cadete' && pedido.piso != ''">
                Piso:{{pedido.clientePiso}} <br>
                Puerta:{{pedido.clientePuerta}}
              </ion-item>
            </ion-list>
            <h2>Total: {{pedido.total | currency}} + <b>Costo de envio</b></h2>        
        </ion-card-content>
        <ion-item *ngIf="pedido.estado == '0' && (pedido.verRol == 'owner' || pedido.verRol == 'comandatario')">
          <ion-button class="btn-footer-agregar" color="primary" slot="end" (click)="tomado(pedido)">Tomado!</ion-button>
        </ion-item>
        <ion-item *ngIf="pedido.estado == '1' && (pedido.verRol == 'owner' || pedido.verRol == 'comandatario')">
          <ion-button class="btn-footer-agregar" color="success" slot="end" (click)="listo(pedido)">Listo!</ion-button>
        </ion-item>
        <ion-item *ngIf="pedido.estado == '2' && (pedido.verRol == 'owner' || pedido.verRol == 'comandatario')">
          <ion-button class="btn-footer-agregar" color="success" slot="end" (click)="enviado(pedido)">Enviado!</ion-button>
        </ion-item>
        <ion-item *ngIf="pedido.estado == '3' && (pedido.verRol == 'owner' || pedido.verRol == 'comandatario')">
          <ion-button class="btn-footer-agregar" color="danger" slot="end" (click)="noMostrar(pedido)">Borrar!</ion-button>
        </ion-item>

      </ion-card>
    </div>
  </div>
  


    <!--ion-card *ngFor="let pedido of pedidosCadeteria" > 
      <ion-card-header>
        <ion-card-title>Pedido a Tomar</ion-card-title>
      </ion-card-header>
      <ion-card-content>     
          <ion-list-header>
            Productos
          </ion-list-header> 
          
          <ion-list>                   
            <ion-item *ngFor="let producto of pedido.productos; let p = index">
              <ion-avatar slot="start">
                <img src="{{producto.icon}}" *ngIf="producto.icon">
                <ion-icon name="star" *ngIf="!producto.icon"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>{{producto.name}}</h2>
                <h3>{{producto.comentario}}</h3>
                <h3>precio: {{producto.precio * producto.cantidad | currency}}</h3>
                <h3>cantidad :{{producto.cantidad}} </h3>              
              </ion-label>          
            </ion-item>
          </ion-list>
          <h2>Total: {{pedido.total | currency}} + <b>Costo de envio</b></h2>          
      </ion-card-content>
      <ion-item>
        <ion-button class="btn-footer-agregar" color="danger" slot="end" (click)="buscado(pedido)">Buscado!</ion-button>
      </ion-item>
    </ion-card-->

  
</ion-content>