<ion-header>
  <app-header [button]="'menu'"></app-header>  
</ion-header>

<ion-content style="margin-top: 50px;">  
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-button color="primary"  expand="full" size="large" (click)="presentAlertPrompt()">
    <ion-icon name="search"></ion-icon>&nbsp; Buscar
  </ion-button>

  <ion-list lines="none">     
    <ion-list-header>
      <h5>Comercios</h5>
    </ion-list-header>  
    <ion-item  class="item-comercio" *ngFor="let comercio of comercios" (click)="showComercio(comercio)">
      <ion-avatar *ngIf="comercio.icono" slot="start" class="icono-comercio">
        <img src="{{comercio.icono}}">
      </ion-avatar>    
      <ion-avatar *ngIf="!comercio.icono" slot="start" class="icono-comercio">
        <img src="../../assets/icons/producto.png">
      </ion-avatar>   
      <ion-label>
        <h2><b>{{comercio.nombre}}</b></h2>
        <p>
          <app-calificacion-estrellas [calificacion] = "comercio.promedioGeneral">
          </app-calificacion-estrellas>
        </p>       
                
        <!--p *ngIf="comercio.distancia">
          a {{comercio.distancia}} aprox.
        </p-->
        <p *ngIf="comercio.estadoHorario == 'Cerrado'" style="color:rgb(207, 61, 61)">
          {{comercio.proximaApertura}}       
        </p>
        <p *ngIf="comercio.estadoHorario == 'Abierto'" style="color:rgb(61, 207, 68)">
          {{comercio.estadoHorario}}          
        </p>
        <p *ngIf="comercio.promedioGeneralDemora">
          Demora estimada: {{comercio.promedioGeneralDemora | number:'1.0-0'}} minutos
        </p>
      </ion-label>         
    </ion-item>    
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="verMas()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más trabajos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
</ion-content>
<ion-footer *ngIf="pedidoActual.on" class="ion-no-border ion-padding">
  <ion-button expand="full" size="large" class="margin0" color="success" (click)="irCarrito()">Confirmar Pedido</ion-button>
</ion-footer>