<ion-header>
  <app-header [button]="'menu'"></app-header>  
</ion-header>

<ion-content style="margin-top: 50px;">  
  
    <ion-row>
      <ion-col size="10">
        <ion-input placeholder="Busca tu comercio favorito" style="border:1px solid rgb(206, 206, 206); border-radius: 5px;"
        [(ngModel)]="palabraFiltro"
        ></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" style="margin-top: -1px; height: 42px;"  (click)="buscarComercio()">
            <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  <ion-list lines="none">     
    <ion-list-header>
      <h5>Comercios</h5>
    </ion-list-header>  
    <ion-item  class="item-comercio" *ngFor="let comercio of comercios" (click)="showComercio(comercio)">
      <ion-avatar slot="start" class="icono-comercio">
        <img src="{{comercio.icono}}" *ngIf="comercio.icono">
      </ion-avatar>      
      <ion-label>
        <h2><b>{{comercio.nombre}}</b></h2>
        <p>
          <app-calificacion-estrellas
          [calificacion] = "comercio.promedioGeneral"
          >
          </app-calificacion-estrellas>
        </p>
        
                
        <p *ngIf="comercio.distancia">
          a {{comercio.distancia}} aprox.
        </p>
        <p *ngIf="comercio.estadoHorario == 'Cerrado'" style="color:rgb(207, 61, 61)">
          {{comercio.proximaApertura}}       
        </p>
        <p *ngIf="comercio.estadoHorario == 'Abierto'" style="color:rgb(61, 207, 68)">
          {{comercio.estadoHorario}}          
        </p>
      </ion-label>         
    </ion-item>    
  </ion-list>
  <div class="space">
    
  </div> 
  
  
</ion-content>
<ion-footer *ngIf="pedidoActual.on" class="ion-no-border ion-padding">
  <ion-button expand="full" size="large" class="margin0" color="success" (click)="irCarrito()">Confirmar Pedido</ion-button>
</ion-footer>